<!-- Content -->
<div>
    <h2>Title</h2>
    <p>
        content description 
    </p>

    <h4>Steps</h4>
    <ol>
        <li>step one</li>
        <li>step two</li>
        <li>step three</li>
    </ol>
</div>

<!-- Code with mutiple tabs for each file -->
<h4>Code</h4>
<div class="code">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="foobar.ts">
            <div class="terminal">
                <pre>console.log('hello world')</pre>
            </div>
        </mat-tab>
        <mat-tab label="foobar.html">
            <div class="terminal">
                <pre>&lt;p&gt;hello world&lt;/p&gt;</pre>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>


